@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--Questrial-font);
}

:root {
  --Questrial-font: "Questrial", sans-serif;
  --Rubik-font: "Rubik", sans-serif;
}

.questrial-font {
  font-family: var(--Questrial-font);
}
.rubik-font {
  font-family: var(--Rubik-font);
}

.testimonial-swiper .swiper-pagination-bullet {
   width: 12px;
  height: 12px;
  background-color: #a9abad;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #749b3f;
}
